/* Importation de polices */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
/*
*{
  -webkit-transition-duration: 10s;
}
*/
/* Style principal */
* {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}
#page {
	width: 100vw;
	background-color: #EBECF0;
	border-radius: 10px;
	overflow: auto;
}
body {
	background-color: #EBECF0;
}

/* Formatage du texte */
h1 {
	font-weight: 600;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #cecace, -5px -5px 10px #FFFFFF;
	color: #ff521b;
}
h4 {
	font-weight: 600;
	font-size: 1.3rem;
	color: #ff521b; 
}
h5 {
	font-weight: 400;
	font-size: 1.3rem;
	color: #230aff;
}

p {
	color: #230aff;
	font-size: 1.2rem;
}
strong {
	color: #028d71;
}
.special-p {
	font-size: 1.1rem;
	box-shadow: inset -5px -5px 10px #FFFFFF, inset 5px 5px 10px #cecace;
	padding: 1%;
	border-radius: 10px;
	line-height: 1.5em;
	overflow: hidden;
}
li {
	color: #230aff;
	font-size: 1.1rem;
}
img.auteur {
	float: left;
	border-radius: 50% 50%;
	box-shadow: 5px 5px 10px #cecace, -5px -5px 10px #FFFFFF;
	opacity: 0.90;
	width: 80px;
	margin-right: 6px;
}

/* Parties */
#main-title {
	font-size: 1.6rem;
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1.5%;
}
#section1 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5%;
	box-shadow: inset -5px -5px 10px #FFFFFF, inset 5px 5px 10px #cecace;
	border-radius: 10px;
	padding: 1%;
	text-align: center;
}
#section1 p, #section1 h4{
	margin: 4px;
}
#section1 div.types p {
	border-radius: 10px;
	box-shadow: 5px 5px 10px #cecace, -5px -5px 10px #FFFFFF;
	padding: 6px;
	margin: 6px;
}


#contains-parts {
	display: flex;
	flex-direction: column;
	width: 92.5%;
	margin-right: auto;
	margin-left: auto;
	/*pp73 ♥ border-radius: 10px;*/
	/*box-shadow: 5px 5px 10px #cecace, -5px -5px 10px #FFFFFF;*/
}
div.part1 {
	box-shadow: 5px 5px 10px #cecace, -5px -5px 10px #FFFFFF;
	margin: 3px;
	border-radius: 10px;
	padding: 1%;
}
div.part2 {
	box-shadow: 5px 5px 10px #cecace, -5px -5px 10px #FFFFFF;
	margin: 3px;
	border-radius: 10px;
	padding: 1%;
}
div.part3 {
	box-shadow: inset -5px -5px 10px #FFFFFF, inset 5px 5px 10px #cecace;
	margin: 3px;
	border-radius: 10px;
	padding: 1%;
	margin-top: 15px;
}
ul {
	list-style-type: disclosure-closed;
	list-style-position: inside;
}

/* Responsive Design */
@media (max-width: 600px)
{
    #section1 div.types {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.main-two-parts {
		display: flex;
		flex-direction: column;
	}
	#page {
		height: auto;
	}
}
@media (min-width: 600px)
{
	#section1 div.types {
		display: flex;
		justify-content: space-around;
	}
	.main-two-parts {
		display: flex;
	}
	#page {
		/*height: 100vh;*/
	}
	div.part1 {
		max-width: 49%;
	}
}
